@model IEnumerable<OLM.Data.Course>

@{
    ViewData["Title"] = "Course";
}
<table class="table">
    <div class="section courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h6>Latest Courses</h6>
                        <h2>Latest Courses</h2>
                    </div>
                </div>
            </div>
            <ul class="event_filter">
                <li>
                    <a class="is_active" href="#!" data-filter="*">Show All</a>
                </li>
                <li>
                    <a href="#!" data-filter=".design">Webdesign</a>
                </li>
                <li>
                    <a href="#!" data-filter=".development">Development</a>
                </li>
                <li>
                    <a href="#!" data-filter=".wordpress">Wordpress</a>
                </li>
            </ul>
            @foreach (var item in Model) {

                    <tr>
                        <div class="row event_box" style="padding-left:10px;">
                            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                                <div class="events_item">
                                    <div class="thumb">
                                        <a href="#"><img src="~/assets/images/@item.Image" alt=""></a>
                                        <span class="time"><h6>160</h6></span>
                                    </div>
                                    <div class="down-content">
                                        <span class="author">@item.CreatedByNavigation.FullName</span>
                                        <h4>@item.CourseName</h4>
                                    </div>
                                </div>
                            </div>
                         <div/>
                    </tr>
            }
    </div>
</table>
